body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: snow;
  text-align: center;
}

.menor {
  color: rgb(255, 38, 0);
}

.mayor {
  color: rgb(0, 255, 38);
}

button {
  margin: 0px 0.5rem;
}
